
.jumbotron{
  background-image: url('../../assets/HeaderDog.jpeg');
  background-color: #F5F6FB;
  background-position: -280px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
}

.marginSection{
  margin-top: 11em;
  align-items: flex-end!important;
  flex-direction: column!important;
  display: flex!important;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.customButton {
  margin-right: 3rem!important;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    color: #fff;
    background-color: #ec4e89;
    border-color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
  
