
.jumbotron{
  background-image: url('../../assets/HeaderDog.jpeg');
  background-color: #F5F6FB;
  background-position: -280px;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 550px;
  background-attachment: fixed;
}

.marginSection{
  margin-top: 11em;
  align-items: flex-end!important;
  flex-direction: column!important;
  display: flex!important;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}