
.jumbotron{
  background-image:url('../../assets/AdobeStock_318348827.jpeg');
  background-position: -500px;
  background-color: #ff0e0d;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 550px;
  background-attachment: fixed;
}
.bg{
  background: linear-gradient(0deg, rgba(0,208,254,1) 0%, rgba(2,200,249,1) 100%);
  z-index: -1;
}
.marginCenter{
  margin-top: 8em;
  align-items: center!important;
  flex-direction: column!important;
  display: flex!important;
  width: 100%;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
}

.buttongroup{
  align-items: flex-end!important;
  flex-direction: column!important;
  display: flex!important;
  width: 100%;
}



