
.jumbotron{
  background-image:url('../../assets/AdobeStock_318348827.jpeg');
  background-position: -500px;
  background-color: #ff0e0d;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 550px;
  background-attachment: fixed;
}
.bg{
  background: linear-gradient(0deg, rgba(0,208,254,1) 0%, rgba(2,200,249,1) 100%);
  z-index: -1;
}
.marginCenter{
  margin-top: 8em;
  align-items: center!important;
  flex-direction: column!important;
  display: flex!important;
  width: 100%;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
}

.buttongroup{
  align-items: flex-end!important;
  flex-direction: column!important;
  display: flex!important;
  width: 100%;
}


.buttonPetIdealCustom{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    color: #fff;
    background-color: #48b6df;
    border-color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}


